.certifications__list {
    max-width: 300px;
    width: 95%;
    margin: 0 auto;
    display: block;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
  }

.logo {
    border-radius: 50%;
    margin: 0 auto 3rem;
}


/* @media screen and (max-width: 600px){
    .certifications__list {
        width: 300px;
    }
} */
